<div>
  <h1 class="text-3xl font-bold mb-5">Procope</h1>
  <div class="mb-5 leading-7">
    Procope is a platform for sharing ideas. It's built on the Flow blockchain.
    Content can be viewed on <a class="underline" href="/">proco.pe</a>,
    reading it directly from the blockchain, or by running the viewer from
    <a class="underline" href="https://github.com/dimes/procope">source</a>.
  </div>
  <div class="leading-7">
    The name Procope comes from Café Procope, the oldest café in Paris, and one that has provided a haven for writers,
    philosophers, scientists, and revolutionaries.
  </div>
</div>