<html class="dark">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
  <div id="header" class="h-20 flex flex-row items-center p-10" style="display: none;">
    <div class="flex-grow"></div>
    <button class="login hidden">Login</button>
    <button class="logout hidden">Logout</button>
  </div>
  <div id="main" class="container my-0 mx-auto max-w-screen-lg" style="display: none">
  </div>
  <div id="footer" class="h-20"></div>
</body>

</html>