<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="header" class="h-20 flex flex-row items-center" style="display: none;">
    <div class="flex-grow"></div>
    <button class="login hidden">Login</button>
    <button class="logout hidden">Logout</button>
  </div>
  <div id="main" class="container my-0 mx-auto" style="display: none">
    <div class="feed_container mx-5">
      <div class="feed_title_container flex flex-row items-center flex-wrap">
        <h1 class="feed_title text-3xl font-bold mr-3"></h1>
        <button class="new hidden underline">New Post</button>
      </div>
      <div class="feed_items"></div>
    </div>
  </div>
  <div id="footer" class="h-20"></div>
</body>

</html>