#main .editor-toolbar button:hover,
#main .editor-toolbar button.active {
  background-color: unset;
  border-color: rgba(229, 231, 235, 1);
}

#main .EasyMDEContainer .CodeMirror,
#main .editor-toolbar {
  border-color: rgba(229, 231, 235, 1);
}

#main .CodeMirror-scroll {
  height: unset;
}

#main .CodeMirror-cursor {
  border-color: var(--tw-ring-color);
}
