<div class="new_feed_container px-5">
  <h1 class="text-3xl font-bold mb-4">
    <a class="back_to_feed"><i class="fas fa-chevron-left"></i></a> Create Post
  </h1>

  <div class="flex flex-col mb-4">
    <div class="uppercase font-bold text-sm mb-1">Title</div>
    <input type="text" class="title dark:bg-gray-600 dark:text-gray-200 border-gray-200 border-solid border p-2"
      style="border-radius: 3px" />
  </div>

  <div class="flex flex-col mb-4">
    <div class="uppercase font-bold text-sm mb-1">Content</div>
    <textarea class="content resize-y dark:bg-gray-600 dark:text-gray-200 border-gray-200 border-solid border p-2"
      style="border-radius: 3px; min-height: 300px;"></textarea>
  </div>

  <div class="flex flex-row items-center">
    <button class="post">Post</button>
  </div>
</div>